---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content"

const products = await getCollection('products');
---

{products.map((product) => (
  <div class="card bg-base-100 w-96 shadow-sm" id={`container-${product.id}`}>
    <figure class="px-10 pt-10">
      <img
        src={product.data.image}
        alt="Shoes"
        class="rounded-xl  h-[150px]" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title font-montserratExtraBold text-[25px]">{product.data.title}</h2>
      <p class="font-montserratRegular text-[15px]">{product.data.description}</p>
      <div class="card-actions">
        <button id={`btn-${product.id}`} class="btn bg-[#E32E3A] text-white border-none font-montserratBold font-montserratExtraBold text-[15px] mt-[5px]">Más información</button>
      </div>
    </div>
 
        <dialog id={product.id} class="modal">
      <form method="dialog" class="modal-box">
        <h3 class="font-bold text-lg font-montserratExtraBold text-[25px]">{product.data.title}</h3>
        
        <!-- Mostrar contenido markdown renderizado -->
        <div class="py-4 font-montserratRegular" set:html={product.rendered?.html} />

        <div class="modal-action">
          <button class="btn">Cerrar</button>
        </div>
      </form>
    </dialog>
  </div>
))}

<!-- Script para agregar los eventos al DOM -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll("button[id^='btn-']");

    buttons.forEach((btn) => {
      const id = btn.id.replace('btn-', '');
      const modal = document.getElementById(id) as HTMLDialogElement; // Ensure TypeScript knows it's a <dialog>
      if (modal) {
        btn.addEventListener('click', () => modal.showModal());
      }
    });
  });
</script>

